.grid-signos-vitales{
    // font-size: small;
    font-style: oblique;
    color: lightslategrey;
}
.grid-signos-vitales span{
    font-weight: bold;
    color: black;
    // font-size: medium;
    font-style: normal;
}