ion-card{
  --background: #ffffffc4;
}

ion-content{
  // background: #2bb741;
  // --background: radial-gradient(ellipse at center, #fff,#2bb741);
  --background: radial-gradient(ellipse at center, #fff,#7e57ff);
}

ion-toolbar{
  --background: #7e57ff;
}

.fecha {
  font-size: 12px;
}
.contenido {
  font-size: 14px;
  ion-label {
    white-space: pre-line;
  }
}
