ion-card-subtitle {
    background: #28cbc3;
    color: white;
    padding: 5px;
}

ion-card-title {
    background-color:#000000b0;
    color: white;
    margin: unset;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px
}

ion-card {
    background:#140c00b0;
    color: white
}
ion-card-header{
    padding: unset;
}

